* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

// @mixin responsive_1200() {
//   @media (max-width: 1200px) {
//   }
// }
// @mixin responsive_992() {
//   @media (max-width: 992px) {
//   }
// }
// @mixin responsive_768() {
//   @media (max-width: 768px) {
//   }
// }
// @mixin responsive_576() {
//   @media (max-width: 576px) {
//   }
// }
.form-control,
textarea,
.form-select {
  &:focus {
    border: 1px solid #2ac37d;
    box-shadow: none;
  }
}

$font-mont: "Montserrat";
$font-narow: "Archivo Narrow";
//font-size text
$fs-default: 13px;

$mobile-width: 576px;
$tablet-width: 992px;
$desktop-width: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile -width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin styleText($color, $fs, $fw: 400, $font: $font-mont) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
  font-family: $font, sans-serif;
}

@mixin sectionMargin($mt: 60px) {
  margin-top: $mt;
}

@mixin styleBtn(
  $color,
  $bg_color,
  $hoverColor,
  $hoverBgColor,
  $py: 15px,
  $px: 30px
) {
  padding: $py $px;
  font-family: $font-narow, sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: $color;
  background-color: $bg-color;
  border: 1px solid transparent;
  border-radius: 60px;
  text-transform: uppercase;
  transition: all 0.4s ease;
  &:hover {
    color: $hoverColor;
    background-color: $hoverBgColor;
  }
}

//Header

.index {
  li {
    .nav-link {
      transition: all 0.3s;
      background-color: #f8f9fa !important;
      color: black !important;
      border-radius: 30px;
      padding: 10px 15px !important;
      &:hover {
        background-color: #2ac37d !important;
        color: white !important;
        border-radius: 30px;
      }
    }
  }
  header {
    .header_top {
      border-bottom: 1px solid #e5e5e5;
      p {
        @include styleText(#5b5b5b, $fs-default);
        text-align: left;
        line-height: 40px;
        margin-bottom: 0;
      }
      .header_actions {
        float: right;
        a {
          @include styleText(#8d8d8d, $fs-default, 400, $font-narow);
          display: inline-block;
          padding: 0 15px;
          text-align: center;
          text-transform: uppercase;
          line-height: 40px;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          vertical-align: top;
          transition: all 0.3s ease;
          &:hover {
            background-color: #e5e5e5;
            color: #2ac37d;
          }
        }
        @include tablet() {
          float: unset;
          display: flex;
          justify-content: end;
        }
      }
    }
    .navigation {
      padding: 15px 0;
      .navigation_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav_left {
          width: 25%;
          .header_logo {
            max-width: 150px;
            line-height: 55px;
            img {
              width: 100%;
            }
          }
        }
        .nav_center.show {
          display: block;
          position: fixed;
          top: 0;
          right: 0;
          width: 240px;
          height: 100%;
          z-index: 10000;
          background-color: #f9f9f9;
          overflow-y: auto;
          transition: all 0.5s ease;
          padding: 20px 20px;
          .nav_close {
            display: flex;
            justify-content: end;
            button {
              border: none;
              background-color: inherit;
            }
          }
          ul {
            padding: 40px 0;
            flex-direction: column;
          }
        }
        .nav_center {
          display: none;
          width: 50%;
          ul {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            li {
              a {
                @include styleText(#000, 16px, 700, $font-narow);
                text-transform: uppercase;
                padding: 15px 20px;
                position: relative;
                transition: all 0.4s ease;
                &::before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(0.5, 0.5);
                  visibility: hidden;
                  opacity: 0;
                  height: 30px;
                  width: 100%;
                  background-color: #2ac37d;
                  z-index: -1;
                  transition: all 0.4s ease;
                  border-radius: 30px;
                }
                &:hover {
                  color: #fff;
                  &::before {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1, 1);
                  }
                }
              }
            }
          }
          @include desktop() {
            display: block;
          }
        }
        .nav_right {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 15px;
          form {
            display: none;
            position: relative;
            width: 260px;
            input {
              width: 100%;
              outline: none;
              padding: 0 20px;
              border: none;
              height: 40px;
              background-color: #e8e8e8;
              border-radius: 40px;
              font-size: $fs-default;
              color: #767779;
              &::placeholder {
                opacity: 0.4;
              }
            }
            button {
              position: absolute;
              right: 15px;
              border: none;
              top: 50%;
              transform: translateY(-50%);
              background-color: initial;
              transition: all 0.4s ease;
              &:hover {
                color: #2ac37d;
              }
            }

            @include desktop() {
              display: block;
            }
          }
          .nav_cart {
            button {
              outline: none;
              border: none;
              background-color: #000;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              img {
                width: 20px;
              }
            }
            .nav_badge {
              position: absolute;
              top: -5px;
              right: -5px;
              width: 20px;
              height: 20px;
              font-size: 10px;
              border: 1px solid #fff;
              border-radius: 50%;
              background-color: #2ac37d;
              i {
                color: #fff;
                font-family: $font-mont, sans-serif;
                font-style: normal;
              }
            }
          }
          .nav_toggle {
            button {
              border: none;
              background-color: #2ac37d;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              i {
                color: white;
              }
            }
            @include desktop() {
              display: none;
            }
          }
        }
      }
    }

    .header_services {
      background-color: #eee;
      height: 50px;
      overflow: hidden;
      .owl-carousel {
        max-width: 780px;
        padding: 0 30px;
        margin: 0 auto;
        display: flex;
        .carousel-item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
          @include tablet() {
            padding: 10px 60px;
            gap: 10px;
          }
          @include desktop() {
            padding: 10px 60px;
            gap: 10px;
          }
        }

        .carousel-item i {
          margin-right: 10px;
        }

        .owl-nav {
          position: absolute;
          // top: 50%;
          width: 100%;
          margin: 0 -30px;
          height: 50px;
          display: flex;
          justify-content: space-between;
          z-index: -1;
          padding: 0 20px;
        }

        .owl-nav button {
          background: none;
          border: none;
          font-size: 20px;
          cursor: pointer;
        }
        .prev,
        .next {
          color: #5b5b5b;
          font-family: $font-narow, sans-serif;
        }
        .services_content {
          height: 100%;
          color: #5b5b5b;
          font-size: 14px;
          font-family: $font-mont, sans-serif;
        }
      }
    }
    .container-fluid {
      padding: 0 15px;
      @include desktop() {
        padding: 0 30px;
      }
    }
  }

  #product {
    .col {
      .card {
        border: 1px solid white;
        padding-bottom: 50px;

        &::before {
          content: "";
          position: absolute;
          top: -15px;
          left: -15px;
          width: calc(100% + 40px);
          height: calc(100% + 50px);
          border: 1px solid #000;
          z-index: 1;
          visibility: hidden;
          opacity: 0;
          transform: scale(0.8, 0.8);
          transition: all 0.3s ease;
        }
        img {
          background-color: #f5f5f5;
        }
        .card-body {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 13px;
          }
          .name {
            width: 70%;
          }
          .price {
            width: 30%;
          }
        }
        .btn {
          border: 2px solid #2ac37d;
          padding: 7px 15px;
          text-align: right;
          position: absolute;
          z-index: 10000;
          bottom: 30px;
          opacity: 0;
          transition: all 0.3s ease;
          a {
            color: black;
          }

          &:hover {
            background-color: #2ac37d !important;
            a {
              color: white;
            }
          }
        }
        &:hover {
          &::before {
            opacity: 1;
            visibility: visible;
            transform: scale(1, 1);
          }
          .btn {
            opacity: 1;
            bottom: -10px;
          }
        }
      }
    }
  }
  #feedback {
    background: url("https://nouthemes.net/html/trueshoes/images/background/parallax.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  }
  .contact {
    margin: 80px 0;
    text-align: center;
    .contact_title {
      p {
        margin: 30px 0;
        font-size: 18px;
        color: #888888;
      }
      h2 {
        font-size: 60px;
        font-weight: 400;
      }
    }
    .contact_form {
      text-align: left;
      margin-left: 40px;
      input {
        border: 1px solid black;
        padding: 1em;
        font-size: 16px;
        border-radius: 2px;
        margin-bottom: 20px;
        width: 325px;
      }
      textarea {
        border: 1px solid black;
        padding: 1em;
        font-size: 16px;
        border-radius: 2px;
        margin-bottom: 20px;
        width: 325px;
        height: 200px;
      }
      button {
        border: 2px solid #2ac37d;
        padding: 7px 15px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          background-color: #2ac37d !important;
          color: white;
        }
      }
    }
  }
  footer {
    background: url(./../src/bg_footer.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 0;
    text-align: center;
    @include tablet() {
      text-align: left;
    }
    @include desktop() {
      text-align: left;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      z-index: -1;
    }
    .footer_content {
      padding: 100px 0;
      img {
        max-width: 120px;
      }
      h3 {
        @include styleText(#fff, 20px, 700, $font-narow);
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      p {
        @include styleText(#999, 14px);
        a {
          color: inherit;
          transition: all 0.4s ease;
          &:hover {
            color: #2ac37d;
          }
        }
      }
      .footer_info2 {
        padding-top: 42.64px;
      }
      .footer_link {
        h3 {
          font-size: 16px;
          margin-top: 15px;
          line-height: 1.8em;
          a {
            color: inherit;
          }
        }
        ul {
          li {
            list-style: none;
            margin-bottom: 10px;
            a {
              @include styleText(#7d8997, 14px);
              line-height: 30px;
              transition: all 0.3s ease;
              &:hover {
                color: #2ac37d;
              }
            }
          }
        }
      }
    }
    .footer_copyright {
      padding: 40px 0;
      border-top: 1px solid #b3b3b336;
      p {
        @include styleText(#999999, 16px, 400, $font-narow);
        line-height: 25px;
        letter-spacing: 0.05em;
        a {
          font-family: inherit;
          font-weight: 700;
          color: #2ac37d;
        }
      }
      ul {
        display: flex;
        list-style: none;
        justify-content: end;
        gap: 20px;
        li {
          a {
            color: #999;
            transition: all 0.3s ease;
            &:hover {
              color: #2ac37d;
            }
          }
        }
      }
    }
  }
}
